---
import menu from '../../datas/menu.json';
import MainLayout from '../../layouts/MainLayout.astro';

    const {slug} = Astro.request.params;

import { createRequire } from "node:module";
const require = createRequire(import.meta.url);
const datas = require(`../../pagesDatas/${slug}.json`);


export async function getStaticPaths() {
    return menu.map((item) => {
        return [
            {
                params: {slug: item.slug}
            }
        ]
    })
}

---

    <MainLayout client:visible menu={menu} mainPhoto={datas.mainPhoto} title={datas.metas.title} description={datas.metas.description}
    imageLink={datas.metas.imageLink} twitterTitle={datas.metas.twitterTitle}
    twitterDescription={datas.metas.twitterDescription}>
    <h2 class=" text-3xl text-center font-black capitalize">{slug}</h2>
    <div class="flex gap-5 mt-7">
        {datas.photos.map((data)=>{
        return <img src={`https://res.cloudinary.com/corentin7301/image/upload/f_auto,q_auto/v1/${data.photo}`}
                alt={data.title} class=" max-w-[30%] rounded-md" />
        })}
    </div>
</MainLayout>