---
import menu from '../../datas/menu.json';
import PhotosLayout from '../../layouts/photosLayout.astro';


const {slug} = Astro.request.params

import { createRequire } from "node:module";
const require = createRequire(import.meta.url);
const photos = require(`../../pagesDatas/${slug}.json`);

export async function getStaticPaths() {
    return menu.map((item) => {
        return [
            {
                params: {slug: item.name}
            }
        ]
    })
}


---

<PhotosLayout client:visible menu={menu} mainPhoto={photos.mainPhoto} title={photos.metas.title} description={photos.metas.description}
    imageLink={photos.metas.imageLink} twitterTitle={photos.metas.twitterTitle}
    twitterDescription={photos.metas.twitterDescription}>

    <!-- <img src={`https://res.cloudinary.com/sarah3902/image/upload/q_auto/fl_lossy${photos.photos[1].photo}`}
        alt="Sarah Leroy" class=" logo hidden" /> -->
    <div class="masonry-grid min-h-[300px] lg:mt-20">
        {photos.photos.map((photo)=>{
        return <a data-fslightbox
            href={`https://res.cloudinary.com/sarah3902/image/upload/q_auto/f_auto/fl_lossy${photo.photo}`}
            class="widthOfPhoto w-[47%] shadow-xl focus:outline-black">
            <img src={`https://res.cloudinary.com/sarah3902/image/upload/q_auto/f_auto/fl_lossy${photo.photo}`}
                alt={photo.title} class=" rounded-md" />
        </a>
        })}
    </div>
</PhotosLayout>


<script src="https://unpkg.com/magic-grid/dist/magic-grid.min.js"></script>
<script src={Astro.resolve("/js/fslightbox.js")}></script>

<script>
    let masonryGrid = new MagicGrid({
        container: ".masonry-grid", // Required. Can be a class, id, or an HTMLElement.
        static: true, // Required for static content.
        gutter: 10, //Space between items. Default: 25(px).
        useMin: true, // Prioritize shorter columns when positioning items? Default: false.
    });

    masonryGrid.listen();
</script>

<style scoped>
    .widthOfPhoto:nth-child(1) {
        --tw-shadow: none;
        box-shadow: none;
        padding: 5px 5px 0 5px;
    }


    @media (max-width: 373px) {
        .widthOfPhoto {
            width: 100%;
        }

        .widthOfPhoto:nth-child(1) {
            display: none;
        }

        .logo {
            display: block;
            width: 80%;
            margin: auto;
            margin-bottom: 20px;
        }
    }

    @media (min-width: 1024px) {
        .widthOfPhoto {
            width: 32%;
        }

        .widthOfPhoto:nth-child(1) {
            display: none;
        }
    }
</style>