---
const {menu} = Astro.props

---
    
    <!-- mobile -->
<div class="relative w-full">
    <div class=" lg:hidden absolute -top-8 right-2 w-2/3 z-10">
        <div class="categories-container rellax bg-persoBlue rounded-md shadow-xl px-7 py-3" data-rellax-speed="-1">
            <p class=" text-lightColor text-center mb-3">Catégories</p>
            <div class="categories-menu flex justify-center items-center space-x-7">
                {menu.map((item)=>{
                if(item.name != "accueil") {
                return <a href={`/photos/${item.name}`} class="focus:outline-white"> <img src={Astro.resolve(`/assets/${item.iconPath}`)}
                    alt={item.name} class=" w-11" /></a>
                }
                })}
            </div>
        </div>
    </div>
    
    <!-- desktop -->
    <div class=" hidden lg:block absolute -top-10 right-1/2 transform translate-x-1/2 w-[350px] z-10">
        <div class="categories-container rellax bg-persoBlue rounded-md shadow-xl px-7 py-3" data-rellax-speed="-0.2">
            <p class=" text-lightColor text-center mb-3 text-xl">Catégories</p>
            <div class="categories-menu flex justify-center items-center space-x-7">
                {menu.map((item)=>{
                if(item.name != "accueil") {
                return <a href={`/photos/${item.name}`} class="hover:transform hover:-translate-y-2 transition-all focus:outline-white"> <img src={Astro.resolve(`/assets/${item.iconPath}`)}
                    alt={item.name} class=" w-11 " /></a>
                }
                })}
            </div>
        </div>
    </div>
</div>

<style scoped>
    @media (min-width: 1024px) {
        .categories-container {
            transform: translate3d(0) translateX(50%);
        }
    }
</style>